/* Reset default margin, padding, and list style for the body element */
body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: #1b1e18;
    font-family: Arial, Helvetica, sans-serif;
    color: #DDA0DD;
}

/* Styles for the top navigation bar */
.topnav {
    background-color: #2f332d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/* Styles for the bottom navigation bar */
.botnav {
    background-color: #2f332d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}

/* Styles for the left part of the navigation bars */
.left {
    flex-grow: 1;
    margin-left: 20px;
}


/* Styles for the right part of the navigation bars */
.right {
    text-align: center;
    margin-right: 20px;
}

/* Styles for the navigation links */
.right ul li {
    display: inline-block;
    margin-left: 20px;
}

.left a,
.right ul li a,
.botnav ul li a {
    color: #DCC6E0;
    text-decoration: none;
}

/* Styles for centering elements */
.center-image, .welcome_message {
    text-align: center;
    margin-top: 5px;
}

.welcome_message {
    margin-bottom: 50px;
}

/* Center the text within the <ul> element of the bottom navigation bar */
.botnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

.botnav ul li {
    display: inline-block;
    margin: 0 10px;
}


.bouquets_message {
    margin-top: 100px;
    text-align: center;
    color: white;
}

/* Styles for the image list */
.image-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


ul.image-list li {
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 20px;
}

/* Styles for the images */
.image-list img {
    max-width: 200px; 
    max-height: 150px;
    width: auto;
    height: auto;
}


/* Styles for the captions */
.image-list p.caption {
    font-size: 18px;
    margin-top: 10px;
    color: #Fffdfa;
}
